.modal_addphoto {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; // 화면(스크린) 크기에 맟춘 % 넓이  cf) vw가 아닌 %는 부모 container에 비율을 맞추는 차이가 있음.
  height: 100vh; // 화면(스크린) 크기에 맞춘 % 높이
  display: flex;
  justify-content: center;
  align-items: center;
  // z-index: 1;

  .modal_addphoto_overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  .modal_addphoto_content {
    background-color: #122541;
    width: 30%;
    position: relative;
    text-align: center;
    border-radius: 10px;
    color: #ffed89;
    padding: 0.5rem;
    border: 0.1rem solid #333333;
  }

  li {
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .addphoto-fieldname {
    text-align: left;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    color: white;
  }

  .addphoto-input {
    width: 23vw;
    font-size: small;
    padding: 5px;
    background-color: #000836;
    color: white;
    border-radius: 4px;
    border: 0.1rem solid #ffed89;
  }

  .addphoto-button {
    border: 0.1rem solid #19c9ff;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    width: 15vw;
    padding: 0.25rem 1rem;
    color: white;
    outline: none;
    cursor: pointer;
    background: #000c7a;
    &:hover {
      background: #6a9bcc;
    }
  }
}
