.menuList_Before_Login {
  width: 96%;
  padding-top: 2%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  // margin-right: 40px;
  align-items: center;

  background: gray;
  ul {
    list-style: none;
    flex-direction: column;
     li {
      //  display: inline-block; // 리스트 가로 정렬
      
      
      padding-right: 5%;
    }
  }
}