$blue: #228be6;
$lightBlue: #228be680;
$gray: #495057;
$red: rgb(226, 12, 12);
$yellow: yellow;
$black: rgba(24, 10, 10, 0.932);


@mixin button-color($color) {
  background: $color;
  &:hover {
    background: lighten($color, 10%);
  }
  &:active {
    background: darken($color, 10%);
  }

  &.outline {
    color: lighten($color, 20%);
    &:hover {
      color: $color;
    }
    background: none;
    border: 1px solid lighten($color, 40%);
    &:hover {
      border-color: lighten($color, 30%);
      // border-color: $color;
      // color: white;
    }
  }
}


.Button {
  
  display: inline-flex;
  color: white;
  // font-weight: bold;
  outline: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  // 각 size가 className에 props로 CSS 클래스와 같이 적용되어 있으면 원하는 스타일을 적용할 수 있음
  &.large {
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
  }
  &.medium {
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
  &.small {
    height: 1.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
  }

  // 색상 관리
  &.blue {
    @include button-color($blue);
  }

  &.gray {
    @include button-color($gray);
  }

  &.lightBlue {
    @include button-color($lightBlue)
  }

  &.red {
    @include button-color($red)
  }

  &.yellow {
    @include button-color($yellow)
  }

  &.black {
    @include button-color($black)
  }

  // & + & 는 .Button + .Button을 의미.
  // 만약 함께 있다면 각 버튼 사이 여백설정 가능
  & + & {
    margin-left: 1rem;
  }


  // 버튼의 전체 너비를 차지하도록 하는 기능
  &.fullWidth {
    width: 100%;
    align-items: center; 
    justify-content: center;
    
    & + & {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  &.middleWidth {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
  }

  &.smallWidth {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
  }

  &.middleWidth_SignIn_btn {
    width: 65%;
    display:flex;
    // display: flex-end;
    // float: right;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
    
  }
}