* {
  box-sizing: border-box;
}

.myModal {
  display: none;
  position: fixed;
  /* z-index: 1; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(127, 127, 127, 0.5);
}

.modalContent {
  border-radius: 40px;
  position: relative;
  background-color: rgb(56, 35, 41);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 2px solid rgb(160, 160, 160);
  width: 70%;
  height: 70%;
  top: 10%;
  vertical-align: middle;
  box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.4),
    4px 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 2%;
  right: 2%;
  color: #aaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.name {
  position: absolute;
  top: 7%;
  left: 5%;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.selectPhoto {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 40%;
}

.hashTag {
  position: absolute;
  left: 5%;
  bottom: 30%;
  color: white;
  font-weight: bold;
}

/* .userInfo {
  position: absolute;
  bottom: 10%;
  left: 5%;
} */

.userFace {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 7%;
  vertical-align: middle;
  margin: auto;
}

.userName {
  position: absolute;
  bottom: 13.5%;
  left: 14%;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.btns {
  position: absolute;
  bottom: 13.5%;
  left: 33%;
}

.modifyBtn {
  width: 70px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(97, 69, 163);
  border-radius: 10px;
}

.deleteBtn {
  width: 70px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(97, 69, 163);
  border-radius: 10px;
}

.mapImg {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 40%;
}

.HowToGo {
  position: absolute;
  top: 45%;
  right: 5%;
  width: 90px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(97, 69, 163);
  border-radius: 10px;
}

.favorite {
  position: absolute;
  bottom: 45%;
  right: 40%;
  width: 40px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(97, 69, 163);
  border-radius: 10px;
}

.commentDiv {
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: 40%;
  height: 25%;
}

.comments {
  height: 85%;
  background-color: rgb(180, 180, 180);
  overflow: scroll;
}

.commentBtn {
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 20%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: rgb(97, 69, 163);
  border-radius: 10px;
}

.comment {
  position: relative;
  height: 45%;
}

.commentLeft {
  position: absolute;
  left: 0;
  width: 18%;
  /* background-color: black; */
}

.commentRight {
  position: absolute;
  right: 0;
  width: 82%;
  /* background-color: white; */
}

.commentFace {
  width: 100%;
}

.commentUserName {
  position: relative;
  top: 0%;
  left: 3%;
}

.commentDate {
  position: absolute;
  top: 10%;
  right: 3%;
}

.commentComment {
  position: relative;
  /* top: 60%; */
  left: 3%;
}

.commentHr {
  position: absolute;
  width: 100%;
  bottom: 0%;
}
