.modal_CompletedFindPw {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_CompletedFindPw_overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  .modal_CompletedFindPw_content {
    font-family: 'Nanum Gothic', sans-serif;

    background: white;
    position: relative;
    // width: 40%;
    width: 475px;
    text-align: center;
    border-radius: 10px;
    color: black;
    // padding: 2%;
    padding: 37px;
    h2 {
      margin-top: unset;
      margin-bottom: 6%;
      font-family: 'Noto Serif KR', serif;
      display: flex;
      justify-content: center;

      .completedFindPw_title_icon {
        margin-right: 2.5%;
        // margin-left: 2.5%;
        margin-top: 1.5%;
      }
    }
    h4 {
      display: flex;
      justify-content: center;
      font-size: 0.8rem;
      color: rgb(141, 134, 134);
    }
  }
  
  .division_line {
    width: 80%;
    height: 1px;
    // margin-left: 5%;
    background-color: rgba(0, 0, 0, 0.199);
    margin-left: 10%;
    // display: flex;
    // justify-content: center;  
    
  }

  .pw_result_container {
    // background: yellow;
    
    // margin: 2rem;
    .pw_result_div {
      color: gray;
      display: flex;
      justify-content: center;
      align-content: center;
      
      padding: 1rem;
      // padding-left: 14%;
      // padding-top: 5%;
      margin-top: 3%;
      margin-bottom: 3%;
      // .pw_findpw_1 {
      //   font-family: 'Noto Serif KR', serif;
      //   font-size: 1.2rem;
      // }
      // .pw_findEmail_2 {
      //   font-size: 0.65rem ;
      //   padding-left: 5%;
      //   padding-top: 11px;
      //   // float: left;
      //   // padding-left: unset !important;
      //   // display: flex;
      //   // justify-items: center;
      //   // align-content: center;

      // }
      .highlighted {
        color: black;
      }
    }
    .btn_result_findPw_container {
      // display: flex;
      // justify-content: space-around;
      margin-top: 10%;
      .btn_result_findPw{
        // float: left;
        // display: inline;
        margin-right: 0.5rem;
        
      }
    }
  }
  
    //--------------------- 로딩 중 로고-------------------------\\

    .spinner {
      width: 40px;
      height: 40px;
      margin: 100px auto;
      background-color: #333;
    
      border-radius: 100%;  
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }
    
    @-webkit-keyframes sk-scaleout {
      0% { -webkit-transform: scale(0) }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }
    
    @keyframes sk-scaleout {
      0% { 
        -webkit-transform: scale(0);
        transform: scale(0);
      } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  
}



// phone 해상도 맞춤 반응형
@media (max-width: 767px) {
  .modal_CompletedFindPw {
    .modal_CompletedFindPw_content {
      width: 270px;
      padding: 1%;
      // width: 100vw;
      // height: 100vh;
      // border-radius: 0;
      h2 {
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: unset;
        justify-content: center;
        font-size: 1.5rem;
      }
    }
    .pw_result_container {
      .pw_result_div {
        font-size: 0.97rem;
      }
    }
  }
}


