.modal_CompletedFindEmail {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_CompletedFindEmail_overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  .modal_CompletedFindEmail_content {
    background: white;
    position: relative;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    color: black;

    h2 {
      margin-left: 3rem;
      font-family: 'Noto Serif KR', serif;
      display: flex;
    }
  }

  .email_result_container {
    // background: yellow;
    
    margin: 2rem;
    .email_result_div {
      // background: skyblue;
      // margin-left: 7%;
      // margin-right: 7%;
      // width: 30%;
      display: flex;
      justify-content: space-around;
      align-content: center;
      .email_findEmail {
        
        float: left;
        // display: flex;
        // justify-items: center;
        // align-content: center;
      }
      
      // border-width: unset;
      border: solid rgb(143, 143, 143);
      border-width: 1px;
      border-radius: 10px;
      padding: 1rem;
      margin-bottom: 7%;
    }
    .btn_result_findEmail_container {
      // display: flex;
      // justify-content: space-around;
      .btn_result_findEmail{
        // float: left;
        // display: inline;
        margin-right: 0.5rem;
        
      }
    }
  }
  
  
}


