.modal_CompletedFindEmail {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_CompletedFindEmail_overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  .modal_CompletedFindEmail_content {
    background: white;
    position: relative;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    color: black;

    h2 {
      margin-left: 3rem;
      font-family: 'Noto Serif KR', serif;
      display: flex;
    }
  }

  .email_result_container {
    background: skyblue;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
  }

  
}


