.modal_CompletedFindEmail {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_CompletedFindEmail_overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  .modal_CompletedFindEmail_content {
    font-family: 'Nanum Gothic', sans-serif;

    background: white;
    position: relative;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    color: black;
    padding: 2%;
    h2 {
      margin-top: unset;
      margin-bottom: 3%;
      font-family: 'Noto Serif KR', serif;
      display: flex;
      justify-content: center;

      .completedFindEmail_title_icon {
        margin-right: 1%;
        margin-top: 1.3%;
      }
    }
    h4 {
      display: flex;
      justify-content: center;
      font-size: 0.8rem;
      color: rgb(141, 134, 134);
    }
  }
  
  .division_line {
    width: 80%;
    height: 1px;
    // margin-left: 5%;
    background-color: rgba(0, 0, 0, 0.199);
    margin-left: 10%;
    // display: flex;
    // justify-content: center;  
    
  }

  .email_result_container {
    // background: yellow;
    
    // margin: 2rem;
    .email_result_div {
      // background: skyblue;
      // margin-left: 7%;
      // margin-right: 7%;
      // width: 30%;
      // border: solid gray;
      display: flex;
      justify-content: center;
      align-content: center;
      
      // border-width: unset;
      // border: solid rgb(143, 143, 143);
      border-width: 1px;
      border-radius: 10px;
      padding: 1rem;
      // padding-left: 14%;
      padding-top: 5%;
      margin-top: 5%;
      margin-bottom: 7%;
      .email_findEmail_1 {
        font-family: 'Noto Serif KR', serif;
        font-size: 1.2rem;
      }
      .email_findEmail_2 {
        font-size: 0.65rem ;
        padding-left: 5%;
        padding-top: 11px;
        // float: left;
        // padding-left: unset !important;
        // display: flex;
        // justify-items: center;
        // align-content: center;
      }
    }
    .btn_result_findEmail_container {
      // display: flex;
      // justify-content: space-around;
      margin-top: 5%;
      .btn_result_findEmail{
        // float: left;
        // display: inline;
        margin-right: 0.5rem;
        
      }
    }
  }
  
  
}


// phone 해상도 맞춤 반응형
@media (max-width: 767px) {
  .modal_CompletedFindEmail {
    .modal_CompletedFindEmail_content {
      width: 270px;
      padding-right: unset;
      // width: 100vw;
      // height: 100vh;
      // border-radius: 0;
      h2 {
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: unset;
        justify-content: center;
        font-size: 1.5rem;
      }
      h4 {
        font-size: 0.68rem;
      }
      .email_result_container {
        
        .email_result_div {
          flex-direction: column;
          .email_findEmail_2 {
            padding-left: unset;
          }
          
          .find_pw_title {
            padding-left: unset;
          }
          .userInfo_input_container_in_findPw {
            margin: unset;
            margin-bottom: 20px;
            padding-left: 5px;
          }
        }
        //button.scss 반응형도 같이 핸들링해야함.
        // .btn_result_findEmail_container {
        //   // margin-top: 7%;
        // }
      } 
    }
  }
}


