.modal_DoubleCheckRemoveUsers {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_DoubleCheckRemoveUsers_overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  .modal_DoubleCheckRemoveUsers_content {
    background: white;
    color: black;
    position: relative;
    width: 30%;
    text-align: center;
    border-radius: 10px;
  }

  .message_container_DoubleCheckRemoveUsers {
    background: skyblue;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
  }
}


