// * {
//   box-sizing: border-box;
// }

// html,
// body,
// #root {
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   background-color: white;
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// #root {
//   background: #f0f0f0;
//   overflow: hidden;
//   position: relative;
//   width: 100%;
//   height: 100%;
// }

// .script-box {
//   will-change: width, height, left, top;
//   position: relative;
// }


//-------------ver1------------------
// @font-face {
//   font-family: yleeFont;
//   src: url("../font/ylee_Mortal_Heart.ttf")
// }


// .video_box {
  
//   // color: white;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   margin: 0px auto;
//   position: relative;
//   z-index: 1;

//   // text-align: center;
//   // 가로화면 꽉 차게
//   // video {
//   //   width: 100%;
//   // }
  
//   .landing_text {
//     font-family: yleeFont;
//     position: absolute;
//     top: 0%;
//     width: 100%;
//     height: 100%;
//     left: 50%;
//     transform: translateX(-50%);
//     padding: 2%;
//     // margin: auto;
//     z-index: 2;
//     display: flex;
//     // // align-content: center;
//     // justify-content: center;
//     // // right: 0;
//     overflow: hidden;
//     // color: transparent;
//     color: white;
//     backface-visibility: hidden;
    
//     .text_box {
//       margin: auto;
      
//       .landing_text_intro_1 {
//         font-size: 3rem;
//         text-align: right;
//         margin-bottom: 20px;
        
//         // span {
//         //   display: inline-block;
//         //   text-shadow: 0 0 0 whitesmoke;
//         //   animation: smoky 5s 3s both;
//         // }
//       }
//       .landing_text_intro_2 {
//         font-size: 2rem;
//         text-align: right;
//         margin-bottom: 20px;
        
//         // span {
//         //   display: inline-block;
//         //   text-shadow: whitesmoke;
//         //   animation: smoky 5s 3s both;
//         // }
//         // span:nth-child(even) {
//         //   animation-name: smoky-mirror;
//         // }
//       }
//       .landing_text_intro_3 {
//         font-size: 1rem;
//         text-align: right;
//         margin-right: 10px;
//         margin-bottom: 20px;

//         // span {
//         //   display: inline-block;
//         //   text-shadow: whitesmoke;
//         //   animation: 5s 3s both;
//         // }
//       }
//       span {
//         display: inline-block;
//         text-shadow: whitesmoke;
//         animation: smoky 5s 3s both;
//       }
//       span:nth-child(even) {
//         animation-name: smoky-mirror;
//       }

//       @keyframes smoky {
//         60% {
//           text-shadow: 0 0 40px whitesmoke;
//         }
//         to {
//           transform: 
//             translate3d(15rem, -8rem, 0)
//             rotate(-40deg)
//             skewX(70deg)
//             scale(1.5);
//           text-shadow: 0 0 20px whitesmoke;
//           opacity: 0;
//         }
//       }

//       @keyframes smoky-mirror {
//         60% {
//           text-shadow: 0 0 40px whitesmoke;
//         }
//         to {
//           transform: 
//             translate3d(18rem, -8rem, 0)
//             rotate(-40deg)
//             skew(-70deg)
//             scale(2);
//           text-shadow: 0 0 20px whitesmoke;
//           opacity: 0;
//         }
//       }
//     }
//   }
  
//   .scrollDown {
//     position: absolute;
//     font-size: 2.5rem;
//     color: white;
//     top: 85%;
//     left: 48.95%;

//     &:hover {
//       cursor: pointer;
//       width: 100%;
//       height: 100%;
//       left: unset;
//       text-align: center;
//       // background: rgba(0, 0, 5, 0.24);
      
//       background: linear-gradient(to top, black,90%, rgba(0, 0, 0, 0));
//     }
//   }

//   #test {
//     position: absolute;
//     top: 98%;
//     width: 100%;
//     text-align: center;
//     color: whitesmoke;
    
//   }

// }

//----------------ver 2

// * {
//   box-sizing: border-box;
// }

// html,
// body,
// #root {
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   background-color: white;
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// #root {
//   background: #f0f0f0;
//   overflow: hidden;
//   position: relative;
//   width: 100%;
//   height: 100%;
// }

// .script-box {
//   will-change: width, height, left, top;
//   position: relative;
// }


//! 기본
// @font-face {
//   font-family: yleeFont;
//   src: url("../font/ylee_Mortal_Heart.ttf")
// }


// .video_box {
  
//   color: white;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   margin: 0px auto;
//   position: relative;
//   z-index: 1;

//   // text-align: center;
//   // 가로화면 꽉 차게
//   // video {
//   //   width: 100%;
//   // }
  
//   .landing_text {
//     font-family: yleeFont;
//     position: absolute;
//     top:0%;
//     width: 100%;
//     height: 100%;
//     left: 50%;

//     padding: 2%;
//     // margin: auto;
 
    
//     .text_box {
//       margin: auto;
      
//       .landing_text_intro_1 {
//         font-size: 3rem;
//         text-align: right;
//         margin-bottom: 20px;
        
//         // span {
//         //   display: inline-block;
//         //   text-shadow: 0 0 0 whitesmoke;
//         //   animation: smoky 5s 3s both;
//         // }
//       }
//       .landing_text_intro_2 {
//         font-size: 2rem;
//         text-align: right;
//         margin-bottom: 20px;
        
//         // span {
//         //   display: inline-block;
//         //   text-shadow: whitesmoke;
//         //   animation: smoky 5s 3s both;
//         // }
//         // span:nth-child(even) {
//         //   animation-name: smoky-mirror;
//         // }
//       }
//       .landing_text_intro_3 {
//         font-size: 1rem;
//         text-align: right;
//         margin-right: 10px;
//         margin-bottom: 20px;

//         // span {
//         //   display: inline-block;
//         //   text-shadow: whitesmoke;
//         //   animation: 5s 3s both;
//         // }
//       }

//     }
//   }
  
//   .scrollDown {
//     position: absolute;
//     font-size: 2.5rem;
//     color: white;
//     top: 85%;
//     left: 48.95%;

//     &:hover {
//       cursor: pointer;
//       width: 100%;
//       height: 100%;
//       left: unset;
//       text-align: center;
//       // background: rgba(0, 0, 5, 0.24);
      
//       background: linear-gradient(to top, black,90%, rgba(0, 0, 0, 0));
//     }
//   }

//   #test {
//     position: absolute;
//     top: 98%;
//     width: 100%;
//     text-align: center;
//     color: whitesmoke;
    
//   }

// }

// // ----------------ver 2



//-------------ver2------------------
// @font-face {
//   font-family: yleeFont;
//   src: url("../font/ylee_Mortal_Heart.ttf")
// }


.video_box {
  
  // color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  z-index: 1;

  // text-align: center;
  // 가로화면 꽉 차게
  // video {
  //   width: 100%;
  // }


  
  
  .landing_text {
    font-family: 'Noto Serif KR', serif;
    font-style: italic;  // 기울기 설정

    // position: relative;
    top:0;
    width: 100%;
    height: 100%;
    // left: 50%;

    // color: whitesmoke;
    color: transparent;
    // padding: 20%;
    // padding-right: 25%;
    // padding-left: 25%;
    // margin: auto;
 
    
    .text_box {
      
      position: absolute;
      
      height: 70%;
      // top: 50%;
      // right: 50%;
      top: 45%;
      
      right: 450px;
      // transform: translate(+50%, -50%);
      transform: translateY(-50%);
      
      writing-mode: vertical-lr;
      text-orientation: upright;
      text-align: center;

      .brackets_top {
        color: whitesmoke;
        // position: absolute;
        // top: 50%;
        // right: 50%;
        // transform: translate(-50%, +50%);
        font-size: 3rem;
        // font-weight: bold;
        // text-align: center;
        margin-bottom: 20px;
        // transform: rotate(90deg);

        animation-name: brackets_top1;
        animation-duration: 2s;
        animation-fill-mode: forwards;
      }

      .landing_text_intro_1 {
        // color: whitesmoke;
        // display: flex;
        // margin-top: 7%;
        // position: absolute;
        font-size: 1.8rem;
        // font-weight: bold;
        // text-align: right;
        margin-bottom: 20px;
        margin-left: 20px;
        
        animation-name: smoky;
        text-shadow: whitesmoke;
        animation-duration: 5s;
        animation-delay: 1s;
        animation-fill-mode: both;
        
        // animation: smoky 5s 3s both;

        // animation-delay: 0;

      }
      .landing_text_intro_2 {
        // color: whitesmoke;
        font-size: 1.8rem;
        // font-weight: bold;
        // text-align: right;
        margin-bottom: 20px;
        margin-left: 20px;
        
        animation-name: smoky;
        text-shadow: whitesmoke;
        animation-duration: 5s;
        // animation: smoky2 5s 3s both;
        animation-delay: 3s;
        animation-fill-mode: both;
      }
      .landing_text_intro_3 {
        // color: whitesmoke;
        font-size: 1.8rem;
        // font-weight: bold;
        // text-align: center;
        // display: flex;
        margin-right: 10px;
        // margin-top: 100px;
        margin-bottom: 20px;
        margin-left: 20px;

        animation-name: smoky;
        text-shadow: whitesmoke;
        // animation: smoky3 5s 0 1s both;
        animation-duration: 5s;
        animation-delay: 5s;
        animation-fill-mode: both;
        // animation: name duration timing-function delay iteration-count direction fill-mode;

      }
      // .landing_text_intro_4 {
      //   color: whitesmoke;
      //   font-size: 1.8rem;
      //   // font-weight: bold;
      //   // text-align: center;
      //   // margin-top: 125px;
      //   margin-right: 10px;
      //   margin-bottom: 20px;
      //   margin-left: 20px;

      // }
      .brackets_bottom {
        color: whitesmoke;
        font-size: 3rem;
        // font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        transform: rotate(90deg);

        animation-name: brackets_top2;
        animation-duration: 2s;
        animation-fill-mode: both;
      }

      // @keyframes brackets_top1 {
      //   from {
      //     // position: absolute;
      //     // transform: rotate(90deg);
      //     top: 50%;
      //     right: 50%;
      //     transform: translate(+50%, -50%);
      //   }
      //   to {
      //     // position: absolute;
      //     transform: rotate(90deg);
      //     top: 30%;
      //     right: 50%;
      //     transform: translateX(+50%);
      //   }
      // }
      // @keyframes brackets_top2 {
      //   from {
      //     position: absolute;
      //     transform: rotate(90deg);
      //     top: 50%;
      //     right: 50%;
      //     transform: translate(+50%, -50%);
      //   }
      //   to {
      //     position: absolute;
      //     transform: rotate(90deg);
      //     top: 80%;
      //     right: 50%;
      //     transform: translateX(+50%);
      //   }
      // }


      @keyframes smoky {
        from {
          // color: whitesmoke;
          
          text-shadow: 0 0 40px whitesmoke;
          opacity: 0;
        }
        to {
          // transform: 
          //   translate3d(15rem, -8rem, 0)
          //   rotate(-40deg)
          //   skewX(70deg)
          //   scale(1.5);
          color: whitesmoke;
          text-shadow: 0 0 10px whitesmoke;
          opacity: 1;
        }
      }

              // @for $item from 1 through 21 {
              //   span:nth-of-type(#{$item}){ 
              //     animation-delay: #{(3 + ($item/10))}s; 
              //   }
              // } 
              
    }
  }

  
  .scrollDown {
    position: absolute;
    font-size: 2.5rem;
    color: whitesmoke;
    top: 85%;
    right: 510px;
    // left: 48.95%;


    animation-name: scoll;
    animation-delay: 10s;  // 비디오 재생 끝나고 스크롤 아이콘 등장에서 부자연스러움 방지
    animation-duration: 2s;
    animation-timing-function: linear; // 애니메이션 속도조절
    animation-iteration-count: infinite;
    // animation-fill-mode: both; ---> 활성화 시키면 애니매이션 infinite반복 작동 안하는 것 같음.
  

    &:hover {
      cursor: pointer;
      // width: 100%;
      // height: 100%;
      // right: unset;
      // left: unset;
      
      // background: rgba(0, 0, 5, 0.24);
      
      // background: linear-gradient(to top, black,90%, rgba(0, 0, 0, 0));
    }

  }
  @keyframes scoll {
    from {
      color: whitesmoke;
      
      // transition: ease-in;
      text-shadow: 0 0 40px whitesmoke;
      opacity: 0;

    }

    25%{
      color: whitesmoke;
      
      // transition: ease-in;
      text-shadow: 0 0 40px whitesmoke;
      opacity: 0.5;
    }

    50%{
      color: whitesmoke;
      opacity: 1;
    }

    75% {
      color: whitesmoke;
      
      // transition: ease-in;
      text-shadow: 0 0 40px whitesmoke;
      opacity: 0.5;
    }

    to {
      color: whitesmoke;
      
      // transition: ease-in;
      text-shadow: 0 0 10px whitesmoke;
      opacity: 0.2;
    }
  }
}

// ----------------ver 2

