// 반응형 Break Point
$phone: 0px;
$tablet:768px;
$laptop: 1020px;
$desktop: 1400px;

// Mixins

@mixin phone {
  @media (min-width: #{$phone}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin laptap {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}



.video_box {
  
  // color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  z-index: 1;

  // text-align: center;
  // 가로화면 꽉 차게
  // video {
  //   width: 100%;
  // }


  
  
  .landing_text {
    font-family: 'Noto Serif KR', serif;
    font-style: italic;  // 기울기 설정

    // position: relative;
    top:0;
    width: 100%;
    height: 100%;
    // left: 50%;

    // color: whitesmoke;
    color: transparent;
    // padding: 20%;
    // padding-right: 25%;
    // padding-left: 25%;
    // margin: auto;
 
    
    .text_box {
      
      position: absolute;
      
      height: 70%;
      // top: 50%;
      // right: 50%;
      top: 45%;
      
      // left: 400px;
      // right: 450px;
      // right: 1050px;
      // transform: translate(+50%, -50%);
      transform: translateY(-50%);
      
      
      writing-mode: vertical-lr;
      text-orientation: upright;
      text-align: center;

      @include phone {
        left: 70px;
      }
      @include tablet {
        left: 200px;
      }
      @include laptap {
        left: 300px;
        // right: 1050px;
      }
      @include desktop() {
        left: 380px;
        // right: 1050px;
      }
      
      
      



      .landing_text_intro_1 {
        // color: whitesmoke;
        // display: flex;
        // margin-top: 7%;
        // position: absolute;
        font-size: 1.8rem;
        // font-weight: bold;
        // text-align: right;
        margin-bottom: 20px;
        margin-left: 20px;
        
        
        animation-name: smoky;
        text-shadow: whitesmoke;
        animation-duration: 5s;
        animation-delay: 1s;
        animation-fill-mode: both;
        
        // animation: smoky 5s 3s both;

        // animation-delay: 0;
      
        
          font-size: 3.7vh;
        
      


      }
      .landing_text_intro_2 {
        // color: whitesmoke;
        // font-size: 1.8rem;
        font-size: 3.7vh;
        // font-weight: bold;
        // text-align: right;
        margin-bottom: 20px;
        margin-left: 20px;
        
        animation-name: smoky;
        text-shadow: whitesmoke;
        animation-duration: 5s;
        // animation: smoky2 5s 3s both;
        animation-delay: 3s;
        animation-fill-mode: both;
      }
      .landing_text_intro_3 {
        // color: whitesmoke;
        // font-size: 1.8rem;
        font-size: 3.7vh;
        // font-weight: bold;
        // text-align: center;
        // display: flex;
        margin-right: 10px;
        // margin-top: 100px;
        margin-bottom: 20px;
        margin-left: 20px;

        animation-name: smoky;
        text-shadow: whitesmoke;
        // animation: smoky3 5s 0 1s both;
        animation-duration: 5s;
        animation-delay: 5s;
        animation-fill-mode: both;
        // animation: name duration timing-function delay iteration-count direction fill-mode;

      }
      // .landing_text_intro_4 {
      //   color: whitesmoke;
      //   font-size: 1.8rem;
      //   // font-weight: bold;
      //   // text-align: center;
      //   // margin-top: 125px;
      //   margin-right: 10px;
      //   margin-bottom: 20px;
      //   margin-left: 20px;

      // }


      // @keyframes brackets_top1 {
      //   from {
      //     // position: absolute;
      //     // transform: rotate(90deg);
      //     top: 50%;
      //     right: 50%;
      //     transform: translate(+50%, -50%);
      //   }
      //   to {
      //     // position: absolute;
      //     transform: rotate(90deg);
      //     top: 30%;
      //     right: 50%;
      //     transform: translateX(+50%);
      //   }
      // }
      // @keyframes brackets_top2 {
      //   from {
      //     position: absolute;
      //     transform: rotate(90deg);
      //     top: 50%;
      //     right: 50%;
      //     transform: translate(+50%, -50%);
      //   }
      //   to {
      //     position: absolute;
      //     transform: rotate(90deg);
      //     top: 80%;
      //     right: 50%;
      //     transform: translateX(+50%);
      //   }
      // }


      @keyframes smoky {
        from {
          // color: whitesmoke;
          
          text-shadow: 0 0 40px whitesmoke;
          opacity: 0;
        }
        to {
          // transform: 
          //   translate3d(15rem, -8rem, 0)
          //   rotate(-40deg)
          //   skewX(70deg)
          //   scale(1.5);
          color: whitesmoke;
          text-shadow: 0 0 10px whitesmoke;
          opacity: 1;
        }
      }

              // @for $item from 1 through 21 {
              //   span:nth-of-type(#{$item}){ 
              //     animation-delay: #{(3 + ($item/10))}s; 
              //   }
              // } 
              
              .scrollDown {
                position: relative;
                font-size: 5vh;
                // color: whitesmoke;
                color: transparent;
                top: 30%;
                // right: 510px;
                // right: 1120px;
                // left: 48.95%;
                transform: translateY(-150%);
            
            
                animation-name: scoll;
                animation-delay: 8s;  // 스크롤 아이콘 등장에서 부자연스러움 방지
                
                animation-duration: 2s;
                animation-timing-function: linear; // 애니메이션 속도조절
                animation-iteration-count: infinite;
                // animation-fill-mode: both; ---> 활성화 시키면 애니매이션 infinite반복 작동 안하는 것 같음.
              
            
                // animation-name: pop_up;
            
                &:hover {
                  cursor: pointer;
                  // width: 100%;
                  // height: 100%;
                  // right: unset;
                  // left: unset;
                  
                  // background: rgba(0, 0, 5, 0.24);
                  
                  // background: linear-gradient(to top, black,90%, rgba(0, 0, 0, 0));
                }
            
                @include phone {
                  // left: 142px;
                  left: 3px;
                }
                @include tablet {
                  // left: 273px;
                  left: 3px;
                }
                @include laptap {
                  // left: 388px;
                  left: 3px;
                  // right: 1050px;
                }
                @include desktop() {
                  // left: 489px;
                  left: 3px;
                  // right: 1050px;
                }
                
            
              }
              @keyframes scoll {
                from {
                  color: whitesmoke;
                  
                  // transition: ease-in;
                  text-shadow: 0 0 40px whitesmoke;
                  opacity: 0;
            
                }
            
                25%{
                  color: whitesmoke;
                  
                  // transition: ease-in;
                  text-shadow: 0 0 40px whitesmoke;
                  opacity: 0.5;
                }
            
                50%{
                  color: whitesmoke;
                  opacity: 1;
                }
            
                75% {
                  color: whitesmoke;
                  
                  // transition: ease-in;
                  text-shadow: 0 0 40px whitesmoke;
                  opacity: 0.5;
                }
            
                to {
                  color: whitesmoke;
                  
                  // transition: ease-in;
                  text-shadow: 0 0 10px whitesmoke;
                  opacity: 0.2;
                }
              }
    }
  }

  
}

// ----------------ver 2

