.scrolledsection {
  overflow: visible;

  .AddPhoto {
    position: absolute;
    left: 70%;
    top: 75%;
    z-index: 1;
    cursor: pointer;
    svg {
      font-size: 6rem;
      color: skyblue;
    }
  }

  .AddPhoto-icon {
    &:hover {
      color: #dce6ff;
    }
  }

  .AddPhoto-button {
    border: none;
  }


  /* ------------Nav ------------------- */
  .nav {
    position: absolute;
    left: 0;
    right: 0;
    height: 7vh;
    color: white; //  폰트 컬러
    z-index: 1;

    display: flex; // 위치를 변형하고 싶은요소의 부모요소에 display: flex를 적용하기.
    background-color: #2a2948;
    // justify-content: ;
    align-items: center;

    // 햄버거 클릭 안했을시. -> 네브바 안의 아이템들 정렬 유지를 위함.
    .menuList_Temp_Login {
      ul {
        // background-color: skyblue;
        display: flex;
        margin-right: 5%;
        padding-left: 0px;
        align-items: center;
        flex-direction: column;
        position: absolute;
        right: 0px;

        // top: 6vh;

        width: 20%;

        .firstList {
          padding-top: 5%;
        }
        li {
          padding-bottom: 5%;
          list-style: none;
        }
      }
    }

    // 로고를 클릭 시 메인페이지?로 리다이렉트
    #nav_logo {
      max-width: 10%;
    }

    // 로그인 후 보여질 햄버거 모달
    .menuList_After_Login {
      .nav_link {
        background-color: skyblue;
        display: flex;
        margin-right: 5%;
        padding-left: 0px;
        align-items: center;
        flex-direction: column;
        position: absolute;
        right: 0px;
        border-radius: 10px;

        top: 10vh;

        width: 20%;

        .list {
          display: flex;
          padding-top: 5%;
          padding-bottom: 5%;
        }
      }
    }

    // 로그인 전 보여질 햄버거 모달
    .menuList_Before_Login {
      .nav_link {
        background-color: skyblue;
        display: flex;
        margin-right: 5%;
        padding-left: 0px;
        align-items: center;
        flex-direction: column;
        position: absolute;
        right: 0px;
        border-radius: 10px;

        top: 10vh;

        width: 20%;

        .list {
          display: flex;
          padding-top: 5%;
          padding-bottom: 5%;
        }
      }
    }

    /* ----- 햄버거 토글 ----- */
    .hamburgerToggle_ON {

      justify-items: left;
      div {
        // position: fix
       left: 0;
        margin: 3px;
        transition: all 0.3s ease;
        width: 23px;
        height: 3px;
        background: white; // div에 색을 입혀 라인을 만든 것.

      }

      .line-1 {
        transform: rotate(-45deg) translate(-3px, 5px)
      }
      .line-2 {
        opacity: 0;
      }
      .line-3 {
        transform: rotate(45deg) translate(-3px, -5.5px);
      }
    }

    .hamburgerToggle_OFF {
      div {
        
        width: 23px;
        height: 3px;
        background: white;
        margin: 3px;
        transition: all 0.3s ease;
      }
    }
  }
}
