.Landing {
  overflow: hidden;

  .AddPhoto {
    position: absolute;
    left: 70%;
    top: 83%;
    z-index: 1;
    cursor: pointer;
    svg {
      font-size: 6rem;
      color: skyblue;
    }
  }

  .AddPhoto-icon {
    &:hover {
      color: #dce6ff;
    }
  }

  .AddPhoto-button {
    border: none;
  }
}
