.myModal_RemovePhoto {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(127, 127, 127, 0.5);
  z-index: 2;
}

.modalContent_RemovePhoto {
  border-radius: 10px;
  position: relative;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  /* border: 2px solid rgb(160, 160, 160); */
  width: 30%;
  height: 40%;
  top: 25%;
  vertical-align: middle;
  box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.4),
    4px 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.removePhoto_text {
  position: relative;
  top: 7%;
  color: black;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.removePhoto_DeleteBtn {
  position: relative;
  display: block;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 13%;
  color: black;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.removePhoto_ReturnBtn {
  position: relative;
  display: block;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 13%;
  color: black;
  font-size: 25px;
  font-weight: bold;
  color: black;
}
