.modal_SignUp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_SignUp_overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  .modal_SignUp_content {
    background: white;
    color: black;
    position: relative;
    width: 30%;
    text-align: center;
    border-radius: 10px;

    .text_style_SignUp {
      color: red;
      font-size: 10%;
      text-align: right;
      padding-right: 10%;
    }
  }

  .userInfo_input_container {
    background: skyblue;
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 7%;
  }

  .button_container_InSignUp {
    margin-bottom: 7%;
  }
}

//   .mobile_input_container {
//     background: skyblue;
//     margin-right: 7%;
//     margin-left: 7%;
//     margin-bottom: 7%;
//   }
// }
