.modal_signIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  // 화면(스크린) 크기에 맟춘 % 넓이  cf) vw가 아닌 %는 부모 container에 비율을 맞추는 차이가 있음.
  height: 100vh;  // 화면(스크린) 크기에 맞춘 % 높이
  display: flex;
  justify-content: center;
  align-items: center;
  // z-index: 1;

  
  .modal_signIn_overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
  
  .modal_signIn_content {
    background-color: white;
    width: 48%;
    position: relative;
    text-align: center;
    border-radius: 10px;
    color: black;
  }

  #signIn_logo {
    // display: block;
    // width: inherit;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 50%;
    // height: auto;
  }
  .box {
    display: flex;
    justify-content: space-around;
    align-content: center;

    .container_signIn {
      float: left;
      width: 50%;
      margin-left: 3%;
      margin-bottom: 3%;
    

      #user_title {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        padding-left: 0.3rem;
        padding-bottom: 7px;
      }
      input[type="email"],
      input[type="password"]{
        display: flex;
        width: 97%;
        font-size: 0.9rem;
        border-radius: 5px;
        border-width: 1.6px;
        border-color: rgb(143, 143, 143);
        padding: 0.48rem 0.9rem;
        margin: 0.4rem;
      }
      input[type="email"]::placeholder,
      input[type="password"]::placeholder {
        font-size: 0.9rem;
        color: rgb(166, 163, 168);
        display: flex;
        align-content: center;
      }
      
      .Email_PW_container {
        // background: skyblue; // 사이즈 테스트 중
        
        margin-right: 7%;
        margin-left: 7%;;
        margin-bottom: 3px;
      }
      
      .find_container {
        margin-right: 7%;
        margin-left: 7%;
        padding-left: 0.3rem;
        
        .findAccount_span {
          display: flex;
          justify-content: flex-end;
          
          span {
            font-size: 0.7rem;
          }
        }
      }

      .button_container_signin {
        margin-top: 5%;
        margin-right: 7%;
        margin-left: 7%;
        padding-left: 0.3rem;

        .Button_in_signIn {
          margin-top: 0.5rem;
        }
      }
  }


    .container2_siginIn {
      float: left;
      flex: 33.3%;
      max-width: 33.3%;
      .socialLogin{
        margin: 10% 10%;
        // position: relative;
        // display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: row;
        .socialLogin_btn{
          // max-width: 50%;
          // // min-width: 10px;
          
          width: 15%;
          margin-left: 10%;
          margin-right: 10%;
          // // justify-content: center;
          // // align-items: center;
          
          
          
          
        }
        
      }
    }
    
  }
}
